*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background:url(background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
} 
.app{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 30px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}
.app h1{
    font-size: 25px;
    color: #f1f1f1;
    font-weight:600px;
    border-bottom: 1px solid #333;
    padding-bottom:30px;
    text-shadow:-0px 2px black;

}
.app h3{
    font-size: 25px;
    color: #ffffff;
    font-weight:500px;
    border-bottom: 1px solid #333;
   padding-top: 10px;
    padding-bottom:10px;
    font-family:'comic';
    text-shadow:-0px 2px black;


}



.quiz{
    padding: 20px 0;
    
}
.quiz h2{
    font-size: 18px;
    color: #020222;
    font-weight: 600;
    text-shadow:-0px 1px rgb(10, 76, 219);


}
.btn{
    background: white;
    color: #000000;
    font-weight: 700;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
   
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}
.correct{
    background: #15d468;

}
.incorrect{
    background: #e45353;
}
.made-by-shreey {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgb(0, 36, 41);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
  }

  /* --------CSS for small screens-------- */
@media only screen and (max-width:600px)
 body{
justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;  
} 